{% extends '_base.html' %}
{% block content %}
<h1> About Page</h1>
    <article class="content-section">
  <div class="article-header">
    <img class="rounded-circle article-img"
         src="https://eclinic-web-s3bucket.s3.amazonaws.com/profile_pics/toppmeis_3.jpg" alt="author-pic">
    </div>
    <div class="media-body">
      <h2>Hello and welcome</h2>
      <p class="article-content">My name is Conor and I live in Oslo, Norway. Here you will find posts that mainly deal
        with Python, data network engineering and birds. I hope you find something of interest to you.</p>
    </div>
{% endblock %}